@font-face {
    font-family: "Super Mario world";
    src: url(/fonte/SuperMarioWorld.ttf);
}


@keyframes animarInimigo {

    /* animacao para o inimigo se movimentar */
    from {
        right: 0%;
    }

    to {
        right: 105%;
    }
}

@keyframes PuloPersonagem {

    /* animacao para o mario pular */
    0% {
        bottom: 70px;
    }

    50% {
        bottom: 240px;
    }

    60% {
        bottom: 240px;
    }

    70% {
        bottom: 240px;
    }

    80% {
        bottom: 240px;
    }

    90% {
        bottom: 240px;
    }

    100% {
        bottom: 70px;
    }
}

.puloPersonagem {
    animation: PuloPersonagem 500ms ease-out;
}

.animarInimigo {
    animation: animarInimigo 10s infinite linear;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Super Mario world";
}


#ceu {
    background-image: url(/assets/cenarioceu.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#cenario {
    background-image: url(/assets/cenario.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}



#personagem {
    background-image: url(/assets/marioParadoLadoDireito.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 65px;
}



#inimigo {
    width: 40px;
    height: 40px;
    background-image: url(/assets/inimigoLadoEsquerdo.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 65px;
    right: -100px;
}



#menuJogo {
    position: absolute;
    background-image: url(/assets/menuDoJogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 120px;
    left: 50px;
    top: 25px;
}



#bloco {
    background-image: url(/assets/bloco.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 400px;
    top: 287px;
}



#tempo {
    position: absolute;
    top: 90px;
    right: 377px;
    color: #ffd473;
    font-size: 24px;
}

#vidas {
    position: absolute;
    top: 92px;
    left: 175px;
    color: #ffffff;
    font-size: 24px;
}

#moedas {
    position: absolute;
    top: 60px;
    right: 75px;
    color: #ffffff;
    font-size: 24px;
}

#pontos {
    position: absolute;
    top: 90px;
    right: 75px;
    color: #ffffff;
    font-size: 24px;
}

#reiniciar{
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    font-weight: 10px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 560px;
    display: none;
}

#reiniciar:hover{
    background: #A9A9A9 ;
}

#iniciar{
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    font-weight: 10px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 560px;
    display: block;
}

#iniciar:hover{
    background: #A9A9A9 ;
}



